@charset "utf-8";

/*
	兼容IE8
*/
img {
	border-style: none;
}
body {
	margin: 0;
	font-size: 14px;
	font-family: 'Microsoft Yahei', 微软雅黑, 宋体, 宋体, Tahoma, Arial, Helvetica, STHeiti;
}

#baozhuang-bg {
	background: url(.././images/dianshang_0.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.baozhuang-title {
	text-align: center;
	color: #f88c00;
	font-size: 44px;
	text-transform: 3px;
	position: relative;
	top: 70px;
	-webkit-text-shadow:#f88c00 3px 0 2px,#f88c00 0 3px 2px,#f88c00 -3px 0 2px,#f88c00 0 -3px 2px;   
	-moz-text-shadow:#f88c00 3px 0 2px,#f88c00 0 3px 2px,#f88c00 -3px 0 2px,#f88c00 0 -3px 2px;   
	text-shadow:#f88c00 3px 0 2px,#f88c00 0 3px 2px,#f88c00 -3px 0 2px,#f88c00 0 -3px 2px;   
	opacity	: 0;

}
#shouhuo-bg {
	background: url(.././images/dianshang_1.png);
}

.car-bg {
	text-align: left;
}
.input-panel input {

	line-height: 34px;
}















1