@charset "utf-8";

/*
	debug
*/
/*
* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
*/
/*
	link style
*/
#profile-list a, .navige-list a, #user-profile a {
	color: white;
	text-decoration: none;
}
* {
	margin: 0px;
	padding: 0px;
}
ul {
	list-style: none;
}
body {
	margin: 0;
	font-size: 14px;
	font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', 微软雅黑, 宋体, 宋体, Tahoma, Arial, Helvetica, STHeiti;
}
header {
	/*width: 100%;*/
	height: 100px;
	background-image: url(".././images/header_bg.png");
	background-color: #96ca46;
	background-repeat: no-repeat;
	background-position: center;
}
input {
	font-size: 14px;
}
.clearfloat:after {
	content: "."; 
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.banner {
	margin: auto;
	padding: 3em 1em 1em 3em;
	width: 1200px;
}
.banner #slogan {
	color: white;
}

.container-fluid {
	margin: 0 auto;
	width: 1220px;
}
/*
	Navigate List
*/
.navigation {
	width: 195px; 
	float: left;
}
.navige-list {
	margin: 0;
	padding: 10px;
	background-color: #f3f9ed;
	list-style: none;
}
.navige-item {
	height: 86px;
	margin-bottom: 10px;
	text-align: center;
}

.navige-item img {
	margin: 10px;

}
/*
	navigate item color
*/
.navige-color-blue {
	background-color: #2899ce;
	/*background-image: url(.././images/1.png);*/
}
.navige-color-yellow {
	background-color: #57b936;
	/*background-image: url(.././images/2.png);*/
}
.navige-color-green {
	background-color: #00c0ef;
	/*background-image: url(.././images/3.png);*/
}
.navige-color-cyan {
	background-color: #ffd200;
	/*background-image: url(.././images/4.png);*/
}
.navige-color-red {
	background-color: #f36c4f;
	/*background-image: url(.././images/5.png);*/
}
.navige-color-orange {
	background-color: #ff892c;
	/*background-image: url(.././images/6.png);*/
}
/*
	navigate item color :hover;
*/
.navige-color-blue:hover {
	/*background-color: #2899ce;*/
	background-image: url(.././images/1.png);
}
.navige-color-yellow:hover {
	/*background-color: #57b936;*/
	background-image: url(.././images/2.png);
}
.navige-color-green:hover {
	/*background-color: #00c0ef;*/
	background-image: url(.././images/3.png);
}
.navige-color-cyan:hover {
	/*background-color: #ffd200;*/
	background-image: url(.././images/4.png);
}
.navige-color-red:hover {
	/*background-color: #f36c4f;*/
	background-image: url(.././images/5.png);
}
.navige-color-orange:hover {
	/*background-color: #ff892c;*/
	background-image: url(.././images/6.png);
}
/*
	home content
*/
.center-content {
	margin: 10px;
	width: 630px;
	float: left;
}
.container {
	margin: 0px 0px 10px 0px;
	border: 1px solid #6bc30d;
	/*background-color: #f6fbf2;*/
}
.container-green {
	background-image: url(.././images/title_green.png);
	background-repeat: no-repeat;
	background-origin: border-box;

}
.container h1 {
	margin: 0px;
	padding: 0px 40px;
	height: 35px;
	line-height: 40px;
	font-size: 1em;
	color: white;
	font-weight: normal;
	/*background-color: #6bc30d;*/
	background-repeat: no-repeat;
	background-position: 10px;
	margin: 0;
}
.more {
	float: right;
	color: green;
	text-decoration: none;
}
#notice .content {
	height: 242px;
	overflow: hidden;
}
.content {
	padding: 2px 0 0 0;
}
.content p{
	padding: 10px;
	margin: 10px;
}

.content-green {
	color: #333333;
}
#course {
	border-spacing: 0px;
	margin: -1px;
	width: 100%;
	text-align: center;
} 
#course td{
	border-left:1px solid #6bc30d;
	border-bottom:1px solid #6bc30d;
	height: 33px;
} 
/*
	exchange
*/
#comment-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.comment-item {
	padding: 10px;

}
#comment-list .comment-item img{
	float: left;
}
#comment-list .comment-item p {
	float: left;
}
#comment-list .comment-detail {
	margin-left: 50px; 
}
.comment-date {
	font-size: 12px;
}
.comment-username {
	font-size: 14px;
	color: #0088cc;
}
.comment-content {
	font-size: 12px;
}
/*
	left
*/
.row-left {
	width: 366px;
	margin-top: 10px;
	float: left;
}
.border-none {
	border: none;

}
.border {
	border-top:1px solid #40a2d1;
	margin-left: -10px;
	margin-right: -10px;
}
#profile {
	height: 280px;
	/*background-color: #2899ce;*/
	background-image: url(.././images/profile_bg.png);
	color: white;
}
#profile li img {
	vertical-align: middle;
}

#face-image {
	margin: 30px 0px 30px 30px;
	width: 122px;
	height: 102px;
	float: left;
	background-image: url(.././images/user_face_bg.png);
	background-repeat: no-repeat;
}

#user-face {
	margin: 6px;
	width: 90px;
	height: 90px;
	border-radius: 50px;
}

#sex {
	margin-left: -40px;

}

#user-profile {
	padding: 20px;
}

#user-profile h2{
	margin: 20px 0px 5px 10px;
}
#user-profile p{
	margin: 0px;
	font-weight: 100;
}
#logout {
	width: 66px;
	height: 28px;
	margin: 10px;
	line-height: 28px;
	font-size: 12px;
	text-align: center;
	background-image: url(".././images/logout_normal.png");
}
#logout:hover {
	background-image: url(".././images/logout_hover.png");
}
#modify {
	width: 105px;
	height: 28px;
	margin: 10px 0;	
	font-size: 13px;
	line-height: 28px;
	text-align: center;
	background-image: url(".././images/btn_modity_normal.png");
}
#modify:hover {
	background-image: url(".././images/btn_modify_press.png");
}
#profile-list {
	list-style: none;
	padding: 0;
	margin: 0px;
}

#profile-list li {
	width: 33%;
	height: 40px;
	line-height: 40px;
	margin: 0;
	float: left;
	font-size: 14px;
	text-align: center;
}
/*
	calender
*/
#calender {
	width: 100%;
	height: 200px;
}
.sel-date {
	width: 366px;
	height: 294px;
	background-image: url(.././images/calender_bg.png);
}
#datatable {
	width: 100%;
	margin-top:10px;
	font-size: 14px;
}
#datatable td{
	text-align: center;
	height: 27px;
	color: #89957f;
}
#datatable thead td{
	color: #64c43d;
}

.clearfix {
	height: 65px;
	line-height: 70px;
	font-size: 0.9em;
	/*background-color: #6bc30d;*/
}
.clearfix .show-mn {
	text-align: center;
	color: white;
}
.clearfix .prev-m, .next-m {
	width: 25px;
	vertical-align: middle;
	margin: 20px;
}
#datatable .active {
	background-image: url('.././images/cal_item_selected.png');
	background-repeat: no-repeat;
	background-position: center;
	color: white !important;
}

#datatable tbody td.have:hover {
	background-image: url('.././images/cal_item_selected.png');
	background-repeat: no-repeat;
	background-position: center;
	color: white !important;
}

.border-blue {
	border: 1px solid #2899ce;
}

#other {
	background-color: #f6fbf1;
	height: 200px;
	background-image: url(.././images/title_blue.png);
	background-repeat: no-repeat;
	background-origin: border-box;
}
#other h1{
	color: white;
	padding: 0 10px;
	margin: 0;
}
#other .more {
	color: #0072bc;
}

/*
	float 
*/

.float-right {
	float: right;
}
.float-left {
	float: left;
}
.clear {
	clear: both;
}

footer {
	margin: auto;
	width: 1220px;
	height: 58px;
	clear: both;
	background-image: url(.././images/footer_bg.png);
	background-repeat: no-repeat;

}
footer p {
	margin: auto;
	width: 100%;
	height: 100%;
	line-height: 58px;
	text-align: center;
	color: #656565;
}
/*
	login page
*/

.container-full {
	width: 100%;
	height: 980px;
	background-image: url(.././images/login_bg.png);
	background-position: center;
}
.container-full-teacher {
	width: 100%;
	height: 980px;
	background-image: url(.././images/teacher_bg.jpg);
	background-position: center;
}

.login-panel {
	margin: auto;
	position: relative;
	top: 194px;
	left: 255px;
	width: 510px;
	height: 272px;
	background-image: url(.././images/login_panel_bg.png);
}
.registe-input {
	width: 630px;
}
.input-panel input {
	/*float: left;*/
	width: 177px;
	height: 34px;
	margin: 20px 0 0 50px;
	border: none;
	padding-left: 40px;
	outline: none;
	background-repeat: no-repeat;
}
.input-panel #user-name {
	background-image: url(.././images/input_user_normal.png);
}
.input-panel #user-passwd {
	background-image: url(.././images/input_passwd_normal.png);
}
.input-panel #user-name:focus {
	background-image: url(.././images/input_user_hover.png);
}
.input-panel #user-passwd:focus {
	background-image: url(.././images/input_passwd_hover.png);
}
.normal-input {
	width: 217px;
	height: 34px;
	border: none;
	outline: none;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-image: url(.././images/input_normal.png);
	background-color: transparent;

}
.normal-input:focus {
	background-image: url(.././images/input_hover.png);
}

.little-input {
	width: 172px;
	height: 34px;
	border: none;
	outline: none;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-image: url(.././images/skr_input_normal.png);
	background-color: transparent;

}
.little-input:focus {
	background-image: url(.././images/skr_input_hover.png);
}

.big-input {
	width: 257px;
	height: 34px;
	border: none;
	outline: none;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-image: url(.././images/btn_big_normal.png);
	background-color: transparent;

}
.big-input:focus {
	background-image: url(.././images/btn_big_hover.png);
}
.input-panel .submit {
	width: 169px;
	height: 36px;
	margin: 26px 0 0 50px;
	font-size: 14px;
	background-image: url(.././images/btn_login_normal.png);
	border: none;
	background-color: transparent;
	color: white;
	padding: 0px;
}
.input-panel .submit:hover {
	background-image: url(.././images/btn_login_hover.png);
}
#gongzhonghao {
	float:none !important; 
	text-align:center;
	color: #999;
	margin-top: 7px;
}
#registe {
	margin: 10px;
	color: #7ab946;
	text-decoration: none;
}
#registe:hover {
	color: #2da000;
}
.login-title {
	margin: 30px 0 0 50px;
	color: #666;
}
.input-panel {
	width: 300px;
}
.QRCode {
	margin: 65px 42px;
}

.copyright {
	color: white;
	position: relative;
	font-size: 16px;
	top: 314px;
	text-align: center;
}
.copyright2 {
	color: white;
	font-size: 16px;
	text-align: center;
	margin-top: 50px;
}

/*
	market page
*/
#market-map {
	width: 1020px;
	height: 678px;
	margin-left: -10px;
	position: relative;
	background-image: url(.././images/market_map_bg.png);
}
#market-anchors {
	width: 1020px;
	height: 678px;
	margin: 0px;
	padding: 0;
	list-style: none;
} 
.anchor-container {
	position: relative;
	width: 38px;
}
.anchors {
	width: 38px;
	height: 38px;
	background-image: url(.././images/anchor_normal.png);
	background-repeat: no-repeat;
	/*float: left;*/
}

.popver {
	width: 191px;
	position: absolute;
	bottom: 38px;
	visibility: hidden;
}
.right {
	left: 38px;
}
.left {
	right: 38px;
}
.popver-title {
	height: 43px;
	line-height: 61px;
	padding-left: 20px;
	margin: 0;
	width: 191px;
	font-size: 18px;
	color: #f16950;
	background-repeat: no-repeat;
	background-image: url(.././images/popver_title.png)
}
.popver-con {
	background-repeat: repeat-y;
	background-image: url(.././images/popver_bg.png);
	padding-top: 10px;
}
.popver-con p {
	float: none;	
	margin: 0;
	padding-left: 20px;
	color: #333;
}
.popver-bottom {
	height: 13px;
	margin: 0;
	width: 191px;
	background-repeat: no-repeat;
	background-image: url(.././images/popver_bottom.png)
}
#team-bg {
	width: 1000px;
	min-height: 678px;
	margin-left: -10px;
	background-image: url(.././images/team_bg.png);
	background-repeat: repeat;
}

#team-bg ul {
	list-style: none;
	margin: 0px;
	padding: 0;
}
#team-bg li {
	float: left;
	margin: 8px 0 0 8px;
}
#team-bg p {
	float: none;
}
#team-bg li {
	width: 190px;
	height: 260px;
	background-repeat: no-repeat;
	background-image: url(.././images/team_member_bg.png);
	text-align: center;
}
#team-bg img {
	margin-top: 24px;
	border-radius: 39px;
}
.user-title {
	color: white;
	margin: 7px 0 0 0;
}
.user-detail {
	text-align: left;
	font-size: 13px;
	color: #39c;
	margin: 5px;
}
.user-detail p {
	margin: 7px 24px;
}
.margin-error {
	width: 1020px;
	height: 564px;
	margin: auto;
}
.register-panel {
	width: 1020px;
	height: 564px;
	margin: 12px auto;
	background-color: #f6fbf2;
	float: left;
	border-radius: 10px;
	border: 1px solid #43953b;
}

.up-icon,.up-input {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 112px;
	height: 36px;
	z-index: 2
}
.up-input {
	opacity: 0;
}
.up-icon {
	overflow: hidden;
	font-size: 0;
	line-height: 99em;
	background: url(.././images/up_icon_normal.png);
	z-index: 1;
}

.up-face {
	width: 314px;
	height: 564px;
	text-align: center;
	background-color: #edf2e9;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
.up-face img {
	margin: 80px 0 134px;
}
.register-title {
	color: #666;
	font-size: 24px;
	width: 100%;
	margin: 46px 80px;
}
.registe-input table {
	margin: 50px 0 0 150px;
	border-collapse: collapse;
}
.registe-input table tr{
	text-align: right;
	padding: 20px 0px;
}
.registe-input table td{
	padding: 10px 0px;
}
#sp {
	padding-top: 40px;
}
#tip {
	padding-left: 10px;
	color: #666; 
}
#sumbit-btn {
	position: relative;
	top: -126px;
	width: 112px;
	margin: auto;
}
.button-green-big {
	color: white;
	background-image: url(.././images/button-normal.png);
	width: 189px;
	height: 36px;
	display: block;
	margin: auto;
	line-height: 36px;
	text-decoration: none;
	margin-bottom: 22px;
	text-align: center;
	border: none;
	background-color: transparent;
	font-size: 14px;
}
.button-green-big:hover {
	background-image: url(.././images/button-hover.png);
}
#gongzhonghao a{
	text-decoration: none;
	color: #6aa640;
}

#profile-bg {
	width: 1000px;
	min-height: 678px;
	margin-left: -10px;
	background-image: url(.././images/team_bg.png);
	background-repeat: repeat;
	float: left;
}

#profile-bg table{
	margin: 50px 0 0 128px;
	float: left;
}

#profile-bg table tr {
	text-align: right;
}
#profile-bg table td {
	padding: 7px 0;
}
.sp2 {
	padding-top: 40px !important;
}

#separate-line {
	margin: 80px 0 0 114px;
	height: 394px;
	width: 2px;
	background-image: url(.././images/separate_line.png);
	background-repeat: no-repeat;
	float: left;	
}

#profile-face {
	margin: 106px 0 0 76px;
	float: left;
	text-align: center;
}
#faceimg {
	width: 140px;
	height: 140px;
	border-radius: 70px;
	border: 1px solid white;
}
#modify-face-btn {
	position: relative;
	top: 24px;
	width: 112px;
	margin: auto;
}
#save-btn {
	margin-top: 40px;
}
.modify-icon {
	background-image: url(.././images/xiugai_normal.png);
}
.form-celect {
	height: 36px;
	width: 218px;
	border: 1px solid #abb3bd;
}
.sel_wrap{
	height: 34px;
	background-image: url(.././images/select_normal.png);
	background-repeat: no-repeat;
	font-size: 16px;
	cursor:pointer;
	position:relative;
	_filter:alpha(opacity=0);

}
.sel_wrap label{
	padding-left:10px;
	padding-right: 20px;
	overflow: hidden;
	font-size:14px;
	z-index:2;
	color: #a1a1a1;
	line-height: 38px;
	height: 38px;
	display: block;
	text-align: left;
}
.sel_wrap .select{
	width:100%;
	height:36px; 
	line-height:36px;
	z-index:4;
	position:absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;
	opacity:0;
	filter:alpha(opacity=0);
	cursor:pointer;
	font-size: 14px;
	border: 0px;
}

/*
	Help
*/
.help-container {
	border: 1px solid #ddd;
	width: 1000px;
	background-color: #fcfcfc;
	margin-left: 0px;
}
.help-index {
	list-style: none;
	float: left;
	width: 240px;
	margin: 0px;
	background-color: #fcfcfc;
	padding: 0px;
}
.help-item {
	background-image: url(.././images/help_unselect.png);
	background-repeat: no-repeat;
	background-position:38px center;
	height: 45px;
	margin: -1px 0px;
	line-height: 45px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	text-indent: 74px;
}
.help-item-hover {
	border-left: 4px solid red;
	background-image: url(.././images/help_select.png);
	background-repeat: no-repeat;
	background-position:28px center;
	background-color: #fff;
	width: 238px;
	text-indent: 70px;
	/*padding-left: 59px;*/
}
#help-index-title {
	height: 75px;
	line-height: 75px;
	font-size: 18px;
	color: #333;
	padding-left: 63px;
	background-image: url(.././images/help_index.png);
	background-repeat: no-repeat;
	background-position:22px center;	
}


.help-content {
	background-color: white;
	margin: 0px;
	padding: 68px 92px;
	float: right;
	width: 574px;
	border-left: 1px solid #ddd;
	display: none;
}
.help-content-show {
	display: block;
}
.help-content li {
	margin-bottom: 36px;
	padding-left: 30px;
	background-image: url(.././images/list_icon.png);
	background-repeat: no-repeat;
	background-position: 0px 2px;

}
.help-content li .help-title {
	font-size: 14px;
	color: #333;
}

.help-content li p {
	color: #999;
	margin-top: 14px;
	float: left;
}
.shensu {
	width: 112px;
	height: 36px;
	line-height: 36px;
	margin-left: 50px;
	background-image: url(.././images/shensu_normal.png);
	float: left;
}
.shensu:hover {
	background-image: url(.././images/shensu_hover.png);
}



/*
	teacher
*/
.cf:before, .cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}
.te-content{
    margin: 0 auto;
    width: 1100px;
    min-width: 1081px;
    float: left;
}
.te-content h2{
    width: 173px;
    height: 40px;
    margin: 44px 0 0 0;
    padding: 0;
    text-indent: -9999px;
    background: url(".././images/teacher_title.png") no-repeat left center;
}
.te-content-top{
    margin: 11px 0 0 0;
}
.te-teacher{
    float: left;
    width: 166px;
    height: 166px;
    margin: 0 30px 0 0;
	background-size: 166px 166px;
}
.te-teacher img{
    width: 165px;
    height: 166px;
}
.te-fbgg{
    float: left;
    width: 346px;
    height: 166px;
    margin: 0 14px 0 0;
    background: green url(".././images/gonggao.png") no-repeat center 36px;
}
.te-fbgg a,.te-kcap a,.te-scxx a,.te-cx a,.te-xsgzt a,.te-whgw a,.te-other a{
    padding: 109px 0 30px 0;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    display: block;
    text-decoration: none;
}
.te-kcap{
    float: left;
    width: 166px;
    height: 166px;
    margin: 0 14px 0 0;
    background: green url(".././images/kecheng.png") no-repeat center 36px;

}
.te-scxx{
    float: left;
    width: 166px;
    height: 166px;
    margin: 0 14px 0 0;
    background: green url(".././images/shichang.png") no-repeat center 36px;

}
.te-cx{
    float: left;
    width: 166px;
    height: 166px;
    margin: 0;
    background: green url(".././images/sousuo.png") no-repeat center 36px;

}
.te-content-bottom{
    margin: 14px 0 0 0;
}
.te-teacher-info{
    float: left;
    width: 165px;
    height: 166px;
    margin: 0 30px 0 0;
}
.te-teacher-name{
    float: left;
    width: 164px;
    height: 76px;
    margin: 0;
}
.te-teacher-exit{
    float: left;
    width: 74px;
    height: 76px;
    margin: 14px 15px 0 0;
}
.te-teacher-revise{
    float: left;
    position: relative;
    width: 72px;
    height: 76px;
    margin: 14px 0 0 0;
}
.te-21{
    margin: 10px;
    padding: 0px;
    font-size: 20px;
    color: #fff;

}
.te-22{
    margin: 10px;
    padding: 0px;
    font-size: 20px;
    color: #fff;
	float: left;
	text-decoration: none;
}
.te-20{
    margin: auto;
    padding: 0;
    font-size: 20px;
    color: #fff;
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
	text-decoration: none;	
    line-height: 76px;
}
.te-14{
    margin: 0px 8px;
    padding: 0;
    font-size: 14px;
    color: #fff;
    float: left;
}
.te-xsgzt{
    float: left;
    width: 166px;
    height: 166px;
    margin: 0 14px 0 0;
    background: green url(".././images/xuesheng.png") no-repeat center 36px;

}
.te-whgw{
    float: left;
    width: 346px;
    height: 166px;
    margin: 0 14px 0 0;
    background: green url(".././images/weihu.png") no-repeat center 36px;
}
.te-other{
    float: left;
    width: 166px;
    height: 166px;
    margin: 0;
    background: green url(".././images/qita.png") no-repeat center 36px;
}

/*
	shadow border
*/
.box-color-blue {
	background-color: #39c;
	border: 1px solid #00568c;
	box-shadow: 0px 0px 5px -1px white inset,0px 0px 10px -2px black;
}
.box-color-blue2 {
	background-color: #45b6ee;
	border: 1px solid #45b6ee;
	box-shadow: 0px 0px 5px -1px white inset,0px 0px 10px -2px black;
}
.box-color-green {
	background-color: rgb( 58, 200, 140 );
	border: 1px solid #00e778;
	box-shadow: 0px 0px 5px -1px white inset,0px 0px 10px -2px black;
}

.box-color-qing {
	background-color: rgb( 0, 191, 241 );
	border: 1px solid #68e8ff;
	box-shadow: 0px 0px 5px -1px white inset,0px 0px 10px -2px black;
}
.box-color-yellowgreen {
	background-color: rgb( 170, 212, 120 );
	border: 1px solid #73e900;
	box-shadow: 0px 0px 5px -1px white inset,0px 0px 10px -2px black;
}
.box-color-purple {
	background-color: rgb( 199, 109, 197 );
	border: 1px solid #92208d;
	box-shadow: 0px 0px 5px -1px white inset,0px 0px 10px -2px black;
}
.box-color-qing2 {
	background-color: rgb( 75, 212, 205 );
	border: 1px solid rgb( 0, 250, 247 );
	box-shadow: 0px 0px 5px -1px white inset,0px 0px 10px -2px black;
}
.box-color-red {
	background-color: rgb( 241, 105, 80 );
  	border: 1px solid rgb( 255, 0, 0 );
	box-shadow: 0px 0px 5px -1px white inset,0px 0px 10px -2px black;
}
.box-color-yellow {
	background-color: rgb( 255, 210, 0 );
  	border: 1px solid rgb( 252, 255, 0 );
	box-shadow: 0px 0px 5px -1px white inset,0px 0px 10px -2px black;
}





/*
	shanghai
*/
#shanghai-bg {
	width: 1000px;
	min-height: 578px;
	margin-left: -10px;
	background-image: url(.././images/team_bg.png);
	background-repeat: repeat;
	float: left;
}

.shanghai-list li {
	width: 215px;
	float: left;
	margin-right: 25px;
}
#shanghai-bg .item-img {
	width: 214px;
	height: 250px;
	margin: 0;
	text-align: center;
	background-image: url(.././images/item_bg.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	position: relative;
}

.img-container {
	width: 214px;
	text-align: center;
	position: absolute;
	bottom: 35px;
}
p.item-title {
	text-align: center;
	margin: 15px 0;
	font-size: 18px;
	color: #3b8c00;
}
div.item-detail {
	border: 3px solid white;
	border-radius: 10px;
	background-color: #b3daad;
	padding: 15px;
	margin: 5px;
	color: #3b8c00;
	box-shadow: 0px 0px 5px -1px black;
}
/*
	Modal
*/
.modal-box {
	height: 400px;
	width: 400px;
	background-color: white;
	border-top: 5px solid #b2d770;
	border-radius: 5px;
}
.modal-sm {
	width: 400px;
}
.modal-top {
	width: 400px;
	height: 3px;
	padding: 0;
	background-color: #b2d770;
}
p.modal-title {
	color: #333;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #e7e7e7;
	text-indent: 1em;
}
div.placehoder {
	width: 380px;
	height: 296px;
	background-color: #f2f2f5;
	margin: 10px;
}
div.placehoder img{
	width: 380px;
	height: 296px;
	display: none;
	position: relative;
}
div.active {
	height: 42px;
	width: 400px;
	background-color: #f2f2f5;
	border-radius: 0 0 5px 5px;
}
#up {
	width: 72px;
	height: 32px;
	float: right;
	margin: 5px 10px;
	background-image: url(.././images/up_normal.png);
	display: block;
}
#up:hover {
	background-image: url(.././images/up_hover.png);
}
#cancle {
	width: 72px;
	height: 32px;
	float: right;
	margin: 5px 5px;
	background-image: url(.././images/cancle_normal.png);
	display: block;
}
#cancle:hover {
	background-image: url(.././images/cancle_hover.png);
}
div#select-face-btn {
	position: relative;
	top: 242px;
	width: 102px;
	margin: auto;
}
#select-icon,#select-face-input {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 102px;
	height: 32px;
	z-index: 2
}
#select-face-input{
	opacity: 0;
}
#select-icon {
	overflow: hidden;
	font-size: 0;
	line-height: 99em;
	background: url(.././images/select_face_normal.png);
	z-index: 1;
}

/*
	my work
*/
.work-container {
	background-image: url(.././images/team_bg.png);
	width: 1000px;
}

ul.work-index {
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
	width: 215px;
}
ul.work-index li {
	float: left;
}
li.work-item-box {
	width: 190px;
	height: 114px;
	margin: 12px;
	display: table;
}
div.work-item {
	width: 190px;
	height: 114px;
	text-align: center;
	color: white;
	font-size: 16px;
	display: table-cell;
	vertical-align: middle;
}
li.work-item-hover{
	margin-right: 0px;
	width: 200px;
}
div.work-content {
	float: right;
	background-color: white;
	border: 1px solid #2d9eed;
	width: 770px;
	margin: 12px 12px 0 0;
	display: none;
}
div.work-content-show {
	display: block;
}

.work-item-box-hover {
	width: 204px !important;
	border-right: none !important;
	background-color: white;
}
.work-item-hover {
	height: 90px !important;
	border: 10px solid white;
}

/*
	work bg color
*/
.work-bg-blue {
	background-color: #2d9eed;
}
.work-bg-red {
	background-color: #f36c4f;
}
.work-bg-green {
	background-color: #39c88a;
}
/*
	work border color
*/
.work-bd-blue {
	border: 1px solid #2883ae;
}
.work-bd-red {
	border: 1px solid #f43003;
}
.work-bd-green {
	border: 1px solid #3ae671;
}

.work-title {
	margin: 24px 30px;
	font-size: 24px;
	color: #333;
}
.al {
	float: left;
}
.ar {
	float: right;
}

.work-content .anchor-container {
	width: 739px !important;
	margin: 15px;
}
.anchor {
	height: 152px;
	color: #333;
	font-size: 13px;
	text-decoration: none;
	overflow-y: hidden;
	margin: 0px;
}
.anchor span {
	position: relative;
	top: 93px;
	display: block;
	width: 90%;
	margin: auto;
}
.anchor-head {
	width: 115px;
	background-image: url(.././images/1a.png);
	background-repeat: no-repeat;
}
.anchor-head:hover {
	background-image: url(.././images/1ah.png);
}

.anchor-middle {
	width: 156px;
	background-image: url(.././images/2a.png);
	background-repeat: no-repeat;
	text-align: center;
}
.anchor-middle:hover {
	background-image: url(.././images/2ah.png);
}

.anchor-corner-right {
	width: 156px;
	background-image: url(.././images/3a.png);
	background-repeat: no-repeat;
	text-align: center;
}
.anchor-corner-right:hover {
	background-image: url(.././images/3ah.png);
}
.anchor-corner-right-b {
	width: 156px;
	background-image: url(.././images/4a.png);
	background-repeat: no-repeat;
	text-align: center;
}
.anchor-corner-right-b:hover {
	background-image: url(.././images/4ah.png);
}

.anchor-corner-left {
	width: 115px;
	background-image: url(.././images/5a.jpeg);
	background-repeat: no-repeat;
	text-align: center;
}
.anchor-corner-left:hover {
	background-image: url(.././images/5ah.png);
}
.anchor-corner-left-b {
	width: 115px;
	background-image: url(.././images/6a.png);
	background-repeat: no-repeat;
	text-align: center;
}
.anchor-corner-left-b:hover {
	background-image: url(.././images/6ah.png);
}


.anchor-trail {
	width: 115px;
	background-image: url(.././images/1a.png);
	background-repeat: no-repeat;
	text-indent: 2em;
}
.anchor-trail:hover {
	background-image: url(.././images/1ah.png);
}

.anchor-trail2 {
	width: 115px;
	background-image: url(.././images/7a.png);
	background-repeat: no-repeat;
	text-indent: 2em;
	text-align: center;
}
.anchor-trail2:hover {
	background-image: url(.././images/7ah.png);
}
.anchor-trail3 {
	width: 115px;
	background-image: url(.././images/8a.png);
	background-repeat: no-repeat;
	text-indent: 2em;
}
.anchor-trail3:hover {
	background-image: url(.././images/8ah.png);
}
.anchor-trail4 {
	width: 156px;
	background-image: url(.././images/9a.png);
	background-repeat: no-repeat;
	text-align: center;
}
.anchor-trail4:hover {
	background-image: url(.././images/9ah.png);
}





.anchor-heada {
	width: 115px;
	background-image: url(.././images/1b.png);
	background-repeat: no-repeat;
	text-indent: 2em;
}
.anchor-heada:hover {
	background-image: url(.././images/1bh.png);
}

.anchor-middlea {
	width: 156px;
	background-image: url(.././images/2b.png);
	background-repeat: no-repeat;
	text-align: center;
}
.anchor-middlea:hover {
	background-image: url(.././images/2bh.png);
}

.anchor-cornera-right {
	width: 156px;
	background-image: url(.././images/3b.png);
	background-repeat: no-repeat;
	text-align: center;
}
.anchor-cornera-right:hover {
	background-image: url(.././images/3bh.png);
}
.anchor-cornera-right-b {
	width: 156px;
	background-image: url(.././images/4b.png);
	background-repeat: no-repeat;
	text-align: center;
}
.anchor-cornera-right-b:hover {
	background-image: url(.././images/4bh.png);
}
.anchor-cornera-left {
	width: 115px;
	background-image: url(.././images/5b.png);
	background-repeat: no-repeat;
	
}
.anchor-cornera-left:hover {
	background-image: url(.././images/5bh.png);
}
.anchor-cornera-left-b {
	width: 115px;
	background-image: url(.././images/6b.png);
	background-repeat: no-repeat;
	text-align: center;
}
.anchor-cornera-left-b:hover {
	background-image: url(.././images/6bh.png);
}
.anchor-traila {
	width: 115px;
	background-image: url(.././images/1b.png);
	background-repeat: no-repeat;
	text-indent: 2em;
}
.anchor-traila:hover {
	background-image: url(.././images/1bh.png);
}

.anchor-traila2 {
	width: 115px;
	background-image: url(.././images/7b.png);
	background-repeat: no-repeat;
	text-indent: 2em;
}
.anchor-traila2:hover {
	background-image: url(.././images/7bh.png);
}

.anchor-traila3 {
	width: 115px;
	background-image: url(.././images/8b.png);
	background-repeat: no-repeat;
	text-indent: 2em;
}
.anchor-traila3:hover {
	background-image: url(.././images/8bh.png);
}
.anchor-traila4 {
	width: 156px;
	background-image: url(.././images/9b.png);
	background-repeat: no-repeat;
	text-align: center;
}
.anchor-traila4:hover {
	background-image: url(.././images/9bh.png);
}




.figures {
	width: 730px;
	margin: auto;
}
.figure-box {
	width: 203px;
	height: 229px;
	margin: 18px 20px;
	float: left;
	position: relative;
	background-image: url(.././images/figure_box_bg.png);
}

.figure-box-other {
	background-image: url(.././images/figure_other_bg.png);
}
.figure-img {
	text-align: center;
	position: absolute;
	bottom: 50px;
	width: 203px;
}
.figure-title {
	color: white;
	font-size: 18px;
	position: absolute;
	bottom: 8px;
	text-align: center;
	width: 203px;
}

/*
	teacher 2
*/
h2#keqianzhunbei {
	background-image: url(.././images/zhunbei.png);
}
h2#kechengguanli {
	background-image: url(.././images/jyxx.png);
}
a#back-button {
	height: 51px;
	width: 120px;
	line-height: 50px;
	margin: 14px 14px -30px -64px;
	background-image: url(.././images/back_normal.png);
	background-repeat: no-repeat;
	color: white;
	text-indent: 64px;
	display: block;
	text-decoration: none;
	font-size: 20px;
}
a#back-button:hover {
	background-image: url(.././images/back_hover.png);
}
a#back-button:active {
	background-image: url(.././images/back_click.png);
}
.copyright3 {
	color: white;
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
}


/*
	模拟包装
*/
.baozhuang-title {
	text-align: center;
	color: #fff;
	font-size: 44px;
	text-transform: 3px;
	position: relative;
	top: 70px;
	-webkit-text-shadow:#f88c00 3px 0 2px,#f88c00 0 3px 2px,#f88c00 -3px 0 2px,#f88c00 0 -3px 2px;   
	-moz-text-shadow:#f88c00 3px 0 2px,#f88c00 0 3px 2px,#f88c00 -3px 0 2px,#f88c00 0 -3px 2px;   
	text-shadow:#f88c00 3px 0 2px,#f88c00 0 3px 2px,#f88c00 -3px 0 2px,#f88c00 0 -3px 2px;   
}
#baozhuang-bg {
	background: url(.././images/title.png) top center no-repeat,
    url(.././images/dianshang_1.png) repeat-x,
    url(.././images/dianshang_3.png) repeat;
}

.baozhuang-container {
	width: 1250px;
	height: 700px;
	margin: 150px auto 0px auto;
}

.baozhuang-container .side {
	width: 219px;
	height: 506px;
	float: left;
	text-align: center;
	margin-left: 12px;
}
.baozhuang-container .center {
	float: left;
	width: 758px;
	height: 498px;
	margin-left: 12px;	
	text-align: center;

}
.baozhuang-container .goods-bg {
	min-height: 100px;
	margin-top: 20px;
	padding-bottom: 10px;
	border-radius: 15px;
	border: 5px solid #36c6ec;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#2da4ce), to(#2178bb));  
	background: -moz-linear-gradient(top, red, blue); 
	background-color: #349ccd;

}
.baozhuang-container .box-bg {
	margin-top: 20px;
	padding-bottom: 15px;
	background-color: #349ccd;
}

.good {
	float: left;
	margin: 16px 0 0 13px;
	width: 56px;
	height: 56px;
	z-index: 10000;
}
.box-packet {
	float: left;
	margin: 16px 0 0 13px;
	width: 56px;
	height: 56px;
}
.box-bg .box {
	width: 236px;
	float: left;
	margin-left: 12px;
	margin-top: 12px;
}
.box-bg .box .box-inside-bg-top {
	width: 235px;
	height: 60px;
	background: url(.././images/box_inside_top.png);
}
.box-inside-goods {
	width: 235px;
	min-height: 100px;
	background: url(.././images/box_inside_middle.png);
}

.box-inside-bg-bottom {
	width: 235px;
	height: 77px;
	line-height: 77px;
	background: url(.././images/box_inside_bottom.png);
}
.box-inside-bg-bottom img{
	vertical-align: middle;
}

a.dabao {
	width: 233px;
	height: 75px;
	display: block;
	background-image: url(.././images/dabao_normal.png);
}
a.dabao:hover {
	background-image: url(.././images/dabao_hover.png);
}
a.dabao:active {
	background-image: url(.././images/dabao_click.png);
}

#good-detail {
	width: 260px;
	position: absolute;
	/*background-image: url(.././images/popover.png);*/
	background-color: white;
	border-radius: 10px;
	border: 2px #ff4f26 solid;
	opacity: 0.9;
	display: none;
	box-shadow: 0 0 10px 2px black; 
	z-index: 10001;
}
#good-detail h1 {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #ff4f26;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-weight: normal;
	text-indent: 10px;
}
#good-detail p {
	font-size: 14px;
	text-indent: 10px;
	margin: 10px 0;
}
#good-detail table{
	font-size: 14px;
	padding: 10px;
	border-spacing: 0 10px;
	width: 100%;
}
#good-detail table td{
	overflow: hidden;
}

#box-detail {
	width: 280px;
	position: absolute;
	background-color: white;
	border-radius: 10px;
	border: 2px #ff4f26 solid;
	opacity: 0.9;
	display: none;
	box-shadow: 0 0 10px 2px black; 
}
#box-detail table{
	font-size: 14px;
	margin: 10px 20px;
	border-spacing: 0 10px;
}
#box-detail table td{
	overflow: hidden;
}
#box-detail h1 {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #ff4f26;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-weight: normal;
	text-indent: 10px;
}
#box-detail p {
	font-size: 14px;
	margin: 10px 20px;
}

.modify-box {
	float: right;
	margin-right: 10px;
	color: #f8dc2e;
}
.box-detail-border {
	border-bottom: 1px solid gray;
	margin: 0 5px;
}

.addressmodal {
	width: 320px;
	height: 200px;
	background-color: white;
	border-radius: 10px;
	border: 2px #ff4f26 solid;
	opacity: 0.9 !important;
	box-shadow: 0 0 10px 2px black;
	top: 40% !important;
}
.addressmodal h1 {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #ff4f26;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-weight: normal;
	text-indent: 10px;
}
.addressmodal .txtfield {
	font-size: 14px;
	margin: 28px 12px 8px 12px;
	width: 290px;
	height: 30px
}
.hidemodal {
	color: white;
	font-size: 14px;
	text-align: center;
	width: 159px;
	height: 40px;
	line-height: 40px;
	background-color: #2197c7;
	margin-top: 18px;
	float: left;
	border: none;
}
.confirm {
	border-bottom-left-radius: 8px;
}
.cancle {
	border-left: 1px solid gray;
	border-bottom-right-radius: 8px;
}
div#cancleNumber{
	margin-left: -1px;
	line-height: 40px;
}
	
#modifynumber {
	width: 320px;
	height: 158px;
	background-color: white;
	border-radius: 10px;
	border: 2px #ff4f26 solid;
	opacity: 0.9 !important;
	box-shadow: 0 0 10px 2px black;
	/*top: 40% !important;*/
	display: none;
	position: absolute;
	z-index: 10001;
}
#modifynumber h1 {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #ff4f26;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-weight: normal;
	text-indent: 10px;
	text-align: center;
}
#modifynumber .numberFeild{
	font-size: 14px;
	margin: 28px 12px 8px 12px;
	width: 290px;
	height: 30px
}

/*
	卸货
*/
.xiehuo-container {
	width: 1290px;
	height: 700px;
	margin: 150px auto 0px auto;
}

.xiehuo-container .side {
	width: 219px;
	height: 100%;
	float: left;
	text-align: center;
	margin-left: 12px;
}
.xiehuo-container .center {
	float: left;
	width: 758px;
	height: 498px;
	margin-left: 12px;	
	text-align: center;

}
.xiehuo-container .goods-bg {
	height: 487px;
	margin-top: 20px;
	padding-bottom: 10px;
	border-radius: 15px;
	border: 5px solid #36c6ec;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#2da4ce), to(#2178bb));  
	background: -moz-linear-gradient(top, red, blue); 
	background-color: #349ccd;
}
.xiehuo-container .box-bg {
	background-color: #349ccd;
	margin-top: 20px;
	overflow: hidden;
	position: relative;
	padding-bottom: 50px;
}
.togglable-height {
	height: 459px;
}
.zhankai {
	position: absolute;
	bottom: 0px;
	display: block;
	width: 100%;
	background-color: #0079B2;
	height: 32px;
	line-height: 32px;
	color: white;
	cursor: pointer;
}
.cangchuqu {
	width: 570px !important;
}
.box-bg {
	border-radius: 10px;
}

#cangchuqutitle {
	background-image: url(.././images/cangchuqu.png);
	width: 306px;
	height: 68px;
	margin: auto;
	line-height: 68px;
	color: #f34d1b;
	font-size: 24px;
	text-indent: 70px;
}
.car {
	margin: auto;
	padding-top: 30px;
	width: 148px;
	height: 99px;
}

.huojia {
	width: 190px;
	float: left;
}
.huojia .huojiatitle {
	width: 160px;
	height: 50px;
	line-height: 50px;
	color: #f34d1b;
	font-size: 20px;
	margin: auto;
	background-image: url(.././images/huojia.png);

}
.huojia .kuwei li{
	width: 174px;
	height: 130px;
	margin: 12px auto;
	background-image: url(.././images/kuwei.png);
}
.huojia .kuwei li p{
	width: 174px;
	height: 29px;
	line-height: 29px;
	color: #eafdff;
}
.huojia .kuwei .kuwei-container {
	width: 174px;
	height: 100px;
}
.huojia .kuwei .good-noempty{
	background-image: url(.././images/huojiabox.png);
	background-position: center center;
	background-repeat: no-repeat;
}

#box-detail-dragable {
	width: 260px;
	position: absolute;
	background-color: white;
	border-radius: 10px;
	border: 2px #ff4f26 solid;
	opacity: 0.9;
	display: none;
	box-shadow: 0 0 10px 2px black; 
	z-index: 10001;
}
#box-detail-dragable table{
	font-size: 14px;
	border-spacing: 0 10px;
	width: 100%;
	text-indent: 10px;
}
#box-detail-dragable table td{
	overflow: hidden;
}
#box-detail-dragable h1 {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #ff4f26;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-weight: normal;
	text-indent: 10px;
}
#box-detail-dragable p {
	font-size: 14px;
	margin: 10px 20px;
}
#box-detail-dragable .draggable-helper {
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	color: #333;
	-moz-user-select: none;  
    -khtml-user-select: none;  
    user-select: none; 
}
#box-detail-dragable .draggable-helper:hover {
	background-color: #fbc0ae;
}
.xiehuoanniu {
	position: relative;
	top: -55px;
	left: 25px;
	display: none;
}


/*
	装车
*/
.zone-bg {
	background-image: url(.././images/box_bg.png);
	height: 538px;
	margin-top: 20px;
}
.zones {
	padding: 10px;
}

.zones li {
	width: 174px;
	height: 248px;
	float: left;
	margin: 5px;
	background-image: url(.././images/zone.png);
}

.zone-container {
	width: 154px;
	height: 192px;
	padding: 10px;
}
.zone-container + p {
	height:36px; 
	line-height: 36px;
	color: white;
	font-size: 20px;
	-webkit-text-shadow:#249cc9 3px 0 2px,#249cc9 0 3px 2px,#249cc9 -3px 0 2px,#249cc9 0 -3px 2px;   
	-moz-text-shadow:#249cc9 3px 0 2px,#249cc9 0 3px 2px,#249cc9 -3px 0 2px,#249cc9 0 -3px 2px;   
	text-shadow:#249cc9 3px 0 2px,#249cc9 0 3px 2px,#249cc9 -3px 0 2px,#249cc9 0 -3px 2px;   
	
}
.facheanniu {
	width: 53px;
	height: 99px;
	line-height: 99px;
	float: right;
	background-image: url(.././images/fache_normal.png);
	text-indent: -9999em; 
	overflow: hidden; 
}
.facheanniu:hover {
	background-image: url(.././images/fache_hover.png);
}
.facheanniu:active {
	background-image: url(.././images/fache_click.png);
}
.car-fache {
	margin: 0 10px;
	padding-top: 10px;
	width: 205px;
}
.box-packet2 {
	float: left;
	margin: 8px 0 0 8px;
	width: 40px;
	height: 40px;
}

.box-packet2 img {
	width: 40px;
	height: 40px;
}


#box-detail-nomodify {
	width: 280px;
	position: absolute;
	background-color: white;
	border-radius: 10px;
	border: 2px #ff4f26 solid;
	opacity: 0.9;
	display: none;
	box-shadow: 0 0 10px 2px black; 
}
#box-detail-nomodify table{
	font-size: 14px;
	border-spacing: 0 10px;
	width: 100%;
	text-indent: 10px;
}
#box-detail-nomodify table td{
	overflow: hidden;
}
#box-detail-nomodify h1 {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #ff4f26;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-weight: normal;
	text-indent: 10px;
}
#box-detail-nomodify p {
	font-size: 14px;
	margin: 10px 20px;
}
#box-detail-nomodify .draggable-helper {
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	color: #333;
	-moz-user-select: none;  
    -khtml-user-select: none;  
    user-select: none; 
}
#box-detail-nomodify .draggable-helper:hover {
	background-color: #fbc0ae;
}

.popover2 {
	width: 320px;
	height: 140px;
	overflow: hidden;
	background-color: white;
	border-radius: 10px;
	border: 2px #ff4f26 solid;
	opacity: 0.9 !important;
	box-shadow: 0 0 10px 2px black;
	display: none;
	position: absolute;
}
.popover2 h1 {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #ff4f26;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-weight: normal;
	text-indent: 10px;
	margin: 0px;
}
.popover2 .txtfield {
	font-size: 14px;
	margin: 28px 12px 8px 12px;
	width: 290px;
	height: 30px
}
.hidemodal2 {
	color: white;
	font-size: 14px;
	text-align: center;
	width: 320px;
	height: 40px;
	background-color: #2197c7;
	margin-top: 18px;
	float: left;
	border: none;
}
.cancle2 {
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.alert-msg {
	height: 50px;
	line-height: 50px;
	margin: 10px;
	text-align: left;
	text-indent: 40px;
	background-image: url(.././images/alert.png);
	background-repeat: no-repeat;
	background-position: center left;
	overflow: hidden;
}
#cancle-alert {
	line-height: 40px;
	margin: 0px !important;
}
.car-bg {
	background-image: url(.././images/side_bg.png);
	height: 506px;
	margin-top: 20px;
}

/*
	码头
*/
.matou-bg {
	width: 273px;
	height: 533px;
	margin-top: 20px;
	background-image: url(.././images/matou_bg.png);
}
#matou {
	width: 273px;
	float: left;
	text-align: center;
	margin-left: 12px;
}
#zhuangchequ {
	float: left;
	width: 700px;
	height: 506px;
	margin-left: 12px;
	text-align: center;
}
.zhuangche-bg {
	background-image: url(.././images/box_bg.png);
	height: 538px;
	margin-top: 20px;
}
.boxes-bg {
	width: 332px;
	height: 506px;
	background-image: url(.././images/boxes_bg.png);
	float: left;
	margin-top: 12px;
	margin-left: 12px;
}
.matou-box {
	width: 86px;
	height: 86px;
	margin-top: 30px;
	margin-left: 20px;
	float: left;
}
.matou-box-big {
	background-image: url(.././images/box_da.png);
}
.matou-box-middle {
	background-image: url(.././images/beijing_zhong.png);
}
.matou-box-little {
	background-image: url(.././images/box_xiao.png);
}
.matou-fache {
	width: 221px!important;
}
.matou-fache .car-bg {
	background-image: url(.././images/beijing_xiao.png);
	height: 533px!important;
}

.matou-zhuangche-bg {
	background-image: url(.././images/beijing_da.png);
	height: 538px;
	margin-top: 20px;
}
.cangku-bg {
	width: 273px;
	height: 533px;
	margin-top: 20px;
	background-image: url(.././images/cangku_bg.png);
}
.shouhuo-container {
	width: 1210px;
	/*height: 700px;*/
	margin: 50px auto 0px auto;
}
#user-detail {
	width: 742px;
	height: 68px;
	background-image: url(.././images/gerenxx.png);
	float: right;
	line-height: 68px;
	font-size: 30px;
	color: red;
	font-weight: bold;
	text-indent: 2em;
}

#user-detail span{
	margin-left: 50px;
}
#package-container {
	width: 705px;
	height: 664px;
	float: right;
	margin-top: 10px;
	padding: 20px;
	background-image: url(.././images/gerenbeij.png);
}
#shouhuo-bg {
	background: url(.././images/dianshang_1.png) repeat-x,
   url(.././images/dianshang_3.png) repeat;
}
.shouhuo-box {
	width: 141px;
	height: 141px;
	margin-top: 30px;
	margin-left: 30px;
	float: left;
}
.shouhuo-box-big {
	background-image: url(.././images/box1.png);
}
.shouhuo-box-middle {
	background-image: url(.././images/box2.png);
}
.shouhuo-box-little {
	background-image: url(.././images/box3.png);
}
.shouhuoanniu {
	width: 133px;
	height: 77px;
	display: none;
	position: relative;
	top: 30px;
	background-image: url(.././images/shouhuo.png);
}

/*
	物流车辆控制 
*/
.wuliu-container {
	width: 1180px;
	margin: 150px auto 0px auto;
	padding: 10px;
	border-radius: 15px;
	background-image: -moz-linear-gradient(top, #2aa4cd, #0a77b8); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2aa4cd), color-stop(1, #0a77b8)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2aa4cd', endColorstr='#0a77b8', GradientType='0'); /* IE*/
}
.table-container {
	border: 5px solid #82c7d7;
	border-radius: 15px;
	background-color: #eafdff;
}
.wuliu-container table {
	width: 100%;
	border-collapse:collapse;
	text-align: center;
	font-size: 20px;
}
.wuliu-container table td {
	border: 1px solid #82c7d7;
	max-width: 150px;
}
.wuliu-container table th{
	height: 90px;
	font-weight: normal;
	border: 1px solid #82c7d7;
	color: #f34d1b;
	text-align: center;
}
.wuliu-container table tfoot td {
	height: 90px;
}
.wuliu-container table a {
	text-decoration: none;
	color: #f34d1b;
}

#close-detail {
	color: white;
	font-size: 30px;
	text-decoration: none;
	float: right;
	margin-right: 10px;
}
.shouhuo-cancle {
	color: white;
	font-size: 14px;
	text-align: center;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #2197c7;
	margin-top: 18px;
	float: left;
	border: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px; 
}
.jiajian {
	float: left;
	width: 100%;
	height: 50%;
}
.jianjian-first {
	border-bottom: 1px solid #82c7d7;
}
#lianxiren.txtfield {
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	width: 100px;
	/*color: #f34d1b;*/
}
.selectlist {
	background-image: url(.././images/sanjiao.png);
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 20px;
}

.xiada-button {
	background-image: url(.././images/xiada.png);
	display: block;
	width: 88px;
	height: 64px;
	margin: auto;
	text-indent: -9999px;
}
.td-img img{
	margin: 10px 0;
}

.select-popover {
	min-width: 150px;
	position: absolute;
	background-color: white;
	border-radius: 10px;
	border: 2px #ff4f26 solid;
	opacity: 0.9;
	 display: none; 
	box-shadow: 0 0 10px 2px black; 
}
.select-popover h1 {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	margin: 0;
	background-color: #ff4f26;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-weight: normal;
	text-indent: 10px;
}
.select-popover p {
	font-size: 14px;
	text-indent: 10px;
	margin: 10px 0;
}
.select-popover p:hover {
	background-color: #fbc0ae;
}

.select-date, .select-time {
	background-image: url(.././images/sanjiao.png);
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 20px;
}


/*
	银行
*/
.yh-container {
	margin: auto;

}
.form-container {
	overflow: hidden;
	background-image: url(.././images/yh_bg.png);
	background-position: center;
	background-size: cover;
}
.form-bg {
	width: 834px;
	margin: 40px auto;
	background-image: url(.././images/yh_form_bg.png);
	background-position: top right;
	background-repeat: no-repeat;
	color: #666;
	overflow: hidden;
}
.form-table {
	margin-top: 28px;
}
.form-table tr td {
	height: 45px;
	padding-right: 16px;
}
.form-table tr td {text-align: right;} 
.form-table tr td + td {text-align: left;} 
.form-table tr td + td + td {text-align: right;} 
.form-table tr td + td + td + td {text-align: left;}  

.form-table tr th {
	width: 142px;
	height: 42px;
	color: #fff;
	background-image: url(.././images/title_bg.png);
}
.title-img {
	text-align: center;
	height: 115px;
	line-height: 115px;
	border-bottom: 4px solid #6bb70f;
}
.title-img img {
	vertical-align: middle;
}
.sel_normal {
	width: 276px;
}
.sel_little {
	width: 112px;
	background-image: url(.././images/select_little.png);
	background-repeat: no-repeat;
}
.btn-orange {
	width: 80px;
	height: 32px;
	line-height: 32px;
	text-decoration: none;
	text-align: center;
	color: white;
	display: inline-block;
	margin-left: 10px;
	background-image: url(.././images/btn_orange_normal.png);
}
.btn-orange:hover {
	background-image: url(.././images/btn_orange_hover.png);
}

.btn-green {
	width: 162px;
	height: 42px;
	line-height: 42px;
	text-decoration: none;
	text-align: center;
	color: white;
	border: none;
	margin-left: 10px;
	background-image: url(.././images/btn_green_normal.png);
	background-color:transparent;
}
.btn-green:hover {

	background-image: url(.././images/btn_green_hover.png);
}
.btn-green-little {
	width: 96px;
	height: 34px;
	line-height: 34px;
	text-decoration: none;
	text-align: center;
	color: white;
	border: none;
	margin-left: 10px;
	background-image: url(.././images/btn_green_little_normal.png);
	background-color:transparent;
}
.btn-green-little:hover {

	background-image: url(.././images/btn_green_little_hover.png);
}

.btn-alipay {
	width: 162px;
	height: 42px;
	border: none;
	color: white;
	background-image: url(.././images/btn_alipay.png);
	background-color: transparent;
	font-size: 14px;
	text-align: right;
	padding-right: 25px;
}
.tijiao {
	text-align: center;
	margin-top: 100px;
	color: white;
}


/* CSS for customized radio buttons and check boxes */

/* wrapper divs */
.custom-checkbox, 
.custom-radio { 
    position: relative; 
    display: inline-block;
}
/* input, label positioning */
.custom-checkbox input,
.custom-radio input {
    position: absolute;
    left: 2px;
    top: 3px;
    margin: 0;
    z-index: -1;
}
.custom-checkbox label,
.custom-radio label {
    display: block;
	position: relative;
	z-index: 1;
	height: 18px;
	line-height: 18px;
	padding-left: 25px;
	cursor: pointer;
}
/* states */
.custom-checkbox label { 
    background: url(http://www.w3cplus.com/sites/default/files/checkbox.gif) no-repeat; 
}
.custom-radio label { 
    background: url(.././images/radio_button.png) no-repeat; 
}
.custom-checkbox label, 
.custom-radio label {
    background-position: 0px -18px;
}
.custom-checkbox label.hover,
.custom-checkbox label.focus,
.custom-radio label.hover,
.custom-radio label.focus {
    background-position: 0px 0px;
}
.custom-checkbox label.checked,
.custom-radio label.checked {
    background-position: 0px 0px;
}
.custom-checkbox label.checkedHover,
.custom-checkbox label.checkedFocus {
    background-position: 0px 0px;
}
.custom-checkbox label.focus,
.custom-radio label.focus {
    outline: 1px dotted #ccc;
}
/** modal window styles **/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.skr-modal {
	width: 390px;
	height: 280px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 5px -1px black;
	background-color: white;
	display: none;
}
.modal-title {
	height: 30px;
	line-height: 30px;
	padding: 0 10px 0 20px;
	background-color: #77c011;
	color: white;
}
#hidemodal {
	width: 22px;
	height: 100%;
	background-position: center;
	display: block;
	background-image: url(.././images/close_normal.png);
	background-repeat: no-repeat;
	float: right;
}
#hidemodal:hover {
	background-image: url(.././images/close_hover.png);
}
#hidemodal:active {
	background-image: url(.././images/close_click.png);
}
.skr-list-content {
	overflow-y: scroll;

}
.skr-list-content ul {
	overflow: scroll;
	height: 250px;
}
.skr-list-content ul li{
	height: 34px;
	line-height: 34px;
	font-size: 13px;
	color: #333;
	border-bottom: 1px solid #dfdfdf;
}
.skr-list-content ul li:nth-child(odd) {
	background-color: #fff;
}
.skr-list-content ul li:nth-child(even){
	background-color: #fafafa;
}
.skr-list-content ul li span{
	padding-left: 20px;
}
/*
	交易查询
*/
.head-bg {
	height: 115px;
	line-height: 115px;
	border-bottom: 4px solid #6bb70f;
}
.head-img {
	width: 1022px;
	margin: auto;
}
.head-img img {
	vertical-align: middle;

}
.main-container {
	overflow: hidden;
	background-image: url(.././images/yh_bg.png);
	background-position: center;
	background-size: cover;
}
.jiaoyi-list-bg {
	width: 1022px;
	height: 564px;
	margin: 40px auto;
	background-image: url(.././images/jjcx_list_bg.png);
	background-position: top right;
	background-repeat: no-repeat;
	color: #666;
	overflow: hidden;
}
.jiaoyi-list {
	width: 940px;
	height: 440px;
	margin: 30px 40px;
	overflow-y: scroll;
	overflow-x: hidden; 
}
.jiaoyi-list table {
	width: 925px;
	border-collapse: collapse;
	background-color: #f2f2f2;
	text-align: center;
}
.jiaoyi-list table caption {
	text-align: left;
	border-left: 4px solid #70be0f;
	text-indent: 10px;
	color: #666;
	font-weight: bold;
	margin-bottom: 10px;
}
.jiaoyi-list table th {
	color: white;
	background-color: #70be0f;
	height: 30px;
	font-size: 14px;
	font-weight: normal;
}

.jiaoyi-list table tr td {
	height: 30px;
	color: #666;
	font-size: 14px;
	border:1px solid #acacac;
	padding: 0 10px;
}
.jiaoyi-list table tr td a{
	background-image: url(.././images/jycx_confirm.png);
	text-indent: -100000em;
	text-decoration: none;
	width: 68px;
	height: 29px;
	display: inline-block;
}
.jiaoyi-list table tr td.caozuo {

	padding: 0px;
	width:68px
}
.tar {
	text-align: right;
}
.tal {
	text-align: left;
}

/*
	购汇	
*/
table.convert {
	margin: 140px auto 0 auto;
	border-collapse: collapse;
}
table.convert tr td{
	padding: 15px 10px;
}
a.btn-exchange {
	width: 36px;
	height: 34px;
	background-image: url(.././images/exchange_normal.png);
	display: block;
	text-indent: -10000em;
}
a.btn-exchange:active {
	background-image: url(.././images/exchange_hover.png);
}
a.btn-convert {
	width: 56px;
	height: 34px;
	line-height: 34px;
	background-image: url(.././images/convert_normal.png);
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
}
a.btn-convert:active {
	background-image: url(.././images/convert_hover.png);
}
a.btn-ckhl {
	width: 103px;
	height: 32px;
	line-height: 32px;
	background-image: url(.././images/btn_ckhl_normal.png);
	display: inline-block;
	text-decoration: none;
	color: white;
	text-align: center;
}
a.btn-ckhl:active {
	background-image: url(.././images/btn_ckhl_hover.png);
}

table.convert tr td input[type="text"] {
	width: 152px;
	height: 34px;
	border: none;
	outline: none;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-image: url(.././images/input_little_normal.png);
	background-color: transparent;
}
table.convert tr td input[type="text"][readonly="readonly"]:focus {
	background-image: url(.././images/input_little_normal.png);
}
table.convert tr td input[type="text"]:focus {
	background-image: url(.././images/input_little_hover.png);
}
table.convert tfoot tr td{
	text-align: center;
	padding-top: 70px;
}
.sel_middle {
	width: 152px;
	background-image: url(.././images/sel_middle.png);
	background-repeat: no-repeat;
}
.convert-modal h2 {
	font-weight: normal;
	font-size: 18px;
	color: #141414;
	width: 150px;
	line-height: 36px;
	text-indent: 54px;
	margin: 34px auto;
	background-image: url(.././images/convert_successed.png);
	background-repeat: no-repeat;
}
.convert-modal {
	width: 340px;
	height: 240px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 5px -1px black;
	background-color: white;
	display: none;
}
.convert-modal p {
	color: #141414;
	text-align: center;
	margin: 16px;
}

#closeAlertModel {
	line-height: 40px;
	margin: 0px !important;
}

/*
	订单洽谈
*/
.ddqt-form-container {
	margin: 56px auto;
}

.ddqt-form-container .fl {
	float: left;
	/*margin: 10px;*/
}
.ddqt-form-container .sel {
	float: left;
	margin: 10px;
}
.ddqt-form-container a {
	margin: 10px;
}
.ddqt-form-container table {
	width: 600px;
	border-collapse: collapse;
	border-color: #b7b7b7;
	text-align: center;
	margin: 10px;
}
.ddqt-form-container table th {
	background-color: #70be0f;
	height: 30px;
	color: white;
}
.ddqt-form-container table td {
	height: 34px;
	text-align: left;
	max-width: 140px;
	text-indent: 10px;
}
.ddqt-form-container span {
	margin: 0 20px;
}
.ddqt-form-container span.ddqt-result-f {
	padding-left: 20px;
	background-image: url(".././images/wtg.png");
	background-repeat: no-repeat;
	color: #f76301;
}
.ddqt-form-container span.ddqt-result-t {
	padding-left: 20px;
	background-image: url(".././images/tg.png");
	background-repeat: no-repeat;
	color: #70be0f
}
.ddqt-form-container .ddqt-submit {
	text-align: center;
	margin-top: 20px;
}
.ddqt-form-container .btn-orange2 {
	width: 103px;
	height: 32px;
	line-height: 32px;
	background-image: url(.././images/btn_ckhl_normal.png);
	display: inline-block;
	text-decoration: none;
	color: white;
	text-align: center;
}

/*
	交易记录
*/
.jyjl-list-container {
	margin: 64px 20px;
	height: 400px;
	overflow-y: scroll;
	overflow-x: hidden; 
}
.jyjl-list-container table {
	border-collapse: collapse;
	width: 950px;
	/*margin: auto;*/
	background-color: transparent;
}
.jyjl-list-container table th{
	background-color: #70be0f;
	height: 30px;
	line-height: 30px;
	color: white;
	font-weight: normal;
	min-width: 100px;

}
.jyjl-list-container table td {
	border: 1px solid #acacac;
	height: 30px;
	text-align: center;
}

.jyjl-list-container table tr:nth-child(odd) {
	background-color: #e8f0e0;
}
.jyjl-list-container table tr:nth-child(even){
	background-color: #f6f6f6;
}

.jyjl-list-container table th img {  
 	vertical-align: middle;
 	margin: 0 10px;
 }
/*
	维护汇率
*/
.whhl-list-container {
	margin: 64px 30px;
}
.whhl-list-container table {
	width: 635px;
	border-collapse: collapse;
	text-align: center;
}
.whhl-list-container table th {
	color: white;
	background-color: #70be0f;
	font-weight: normal;
}
.whhl-list-container table th img {  
 	vertical-align: middle;
 	margin: 0 10px;
 }
.whhl-list-container .whhl-img {
	width: 304px;
	height: 422px;
	line-height: 422px;
	float: left;

}
.whhl-list-container .whhl-img img {
	vertical-align: middle;
}
a.btn-whhl {
	width: 30px;
	height: 25px;
	text-indent: -100000em;
	display: inline-block;
}
a.btn-whhl-add {
	background-image: url(.././images/+normal.png);
}
a.btn-whhl-add:hover {
	background-image: url(.././images/+hover.png);
}

a.btn-whhl-reduce {
	background-image: url(.././images/_normal.png);
}
a.btn-whhl-reduce:hover {
	background-image: url(.././images/_hover.png);
}
a.btn-whhl-active {
	width: 56px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	margin: 0 20px;
	display: inline-block;
	color: white;
	text-decoration: none;
	background-image: url(.././images/btn_whhl_normal.png);
}
.whhl-list-container table tr:nth-child(odd) {
	background-color: #e8f0e0;
}
.whhl-list-container table tr:nth-child(even){
	background-color: #f6f6f6;
}
.whhl-list-container table td {
	border: 1px solid #acacac;
	max-width: 105px;
}
.whhl-list-container table th{
	height: 30px;
}
.whhl-list-container table tr td input[type="text"] {
	width: 152px;
	height: 34px;
	border: none;
	outline: none;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-image: url(.././images/input_little_normal.png);
	background-color: transparent;
}
.whhl-list-container table tr td input[type="text"]:focus {
	background-image: url(.././images/input_little_hover.png);
}
.sel_whhl {
	margin: auto;
}
.whhl-table {
	  height: 420px;
	  width: 650px;
	  overflow-y: scroll;
	  overflow-x: hidden;
}
.whhl-temp {
	display: none;
}
.model-input {
	margin: 20px auto;
	width: 250px;
	text-align: center;
}
.yj-modal {
	width: 290px;
	height: 160px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 5px -1px black;
	background-color: white;
	display: none;
}
.model-input input[type="text"] {
	width: 152px;
	height: 34px;
	border: none;
	outline: none;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-image: url(.././images/input_little_normal.png);
	background-color: transparent;
}

.model-input input[type="submit"] {
	margin-top: 20px;
}
a.btn-tongguo {
	background-image: url(.././images/btn_tongguo_normal.png);
	text-decoration: none;
	width: 68px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	color: white;
}
a.btn-tongguo:active {
	background-image: url(.././images/btn_tongguo_hover.png);
}
a.btn-tongguo-disable {
	background-image: url(.././images/btn_tongguo_disable.png);
	text-decoration: none;
	width: 68px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	color: white;
}
.input-little {
	width: 62px;
	height: 34px;
	border: none;
	outline: none;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-image: url(.././images/input_tiny_normal.png);
	background-color: transparent;
}
.input-little:focus {
	background-image: url(.././images/input_tiny_hover.png);
}

.alert-model2 {
	width: 290px;
	height: 160px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 5px -1px black;
	background-color: white;
	display: none;
}
.alert-model2 h2 {
	font-weight: normal;
	font-size: 14px;
	color: #141414;
	width: 200px;
	line-height: 36px;
	padding-left: 54px;
	margin: 34px auto;
	background-image: url(.././images/alert.png);
	background-repeat: no-repeat;
}
.hidemodal3 {
	width: 22px;
	height: 100%;
	background-position: center;
	display: block;
	background-image: url(.././images/close_normal.png);
	background-repeat: no-repeat;
	float: right;
}

/*
	学生工作进度
*/
.xsgz-list {
  width: 940px;
  height: 440px;
  margin: 30px 40px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.xsgz-list table {
  width: 925px;
  border-collapse: collapse;
  background-color: #f2f2f2;
  text-align: center;
}

.xsgz-list table caption {
  text-align: left;
  border: 1px solid #e1e1e1;
  text-indent: 50px;
  color: #666;
  font-weight: bold;
  background-color: #f7f7f7;
  height: 30px;
  line-height: 30px;
}
.xsgz-list table caption.shang {
	background-image: url(.././images/shang.png);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 15px center;

}
.xsgz-list table caption.xia {
	background-image: url(.././images/xia.png);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 15px center;

}
.xsgz-list table th {
  color: white;
  background-color: #70be0f;
  height: 30px;
  font-size: 14px;
  font-weight: normal;
}
.xsgz-list table tr td {
  height: 30px;
  color: #666;
  font-size: 14px;
  border: 1px solid #acacac;
  padding: 0 10px;
}

.select-nobg {
	background: none;
	border: none;
}


.new-table {
	position: absolute;
	bottom: 10px;
	left: 10px;
	border-collapse: collapse;
}
.new-table tbody th img {
	vertical-align: middle;
	margin: 0 10px;
}
.new-table tbody th {
	background-color: #70be0f;
	height: 30px;
	line-height: 30px;
	color: white;
	font-weight: normal;
}
.little-input2 {
	width: 162px;
	height: 34px;
	border: none;
	outline: none;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-image: url(.././images/skr_input_normal.png);
	background-color: transparent;
}







1
