@charset "utf-8";

/*
	debug
*/
/*
* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(
	255,255,0,.2); }*/

/*
	link style
*/
#profile-list a, .navige-list a, #user-profile a {
	color: white;
	text-decoration: none;
}
* {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}
ul {
	list-style: none;
}
body {
	margin: 0;
	font-size: 14px;
	font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', 微软雅黑, 宋体, 宋体, Tahoma, Arial, Helvetica, STHeiti;
	background-color: #ededed;
}
.clear {
	clear: both;
}
.title-container {
	width: 500px;
	margin: 20px auto;
}
.title-container img {
	float: left;
}
.title-container p {
	text-align: center;
	margin: 0;
}
.title-container p input{
	border: none;
	background-color: transparent;
}
.title-container #company {
	font-size: 24px;
	color: #666;
}
.title-container #chuanqibiao {
	font-size: 24px;
}
.tables {
	width: 90%;
	margin: auto;
	border: 4px solid #e6E4E4;
}
.tables table {
	width: 100%;
	border-collapse: collapse;
	color: #666;
	text-align: center;
}
.tables caption {
	text-align: left;
	height: 34px;
	line-height: 34px;
	font-size: 18px;
	color: white;
	text-indent: 30px;
}
/*
	标题背景
*/
.bg1 caption{
	background-color: #ef9a36;
}
.bg2 caption{
	background-color: #ef8436;
}
.bg3 caption{
	background-color: #ef6636;
}
.bg4 caption{
	background-color: #94ac26;
}
.bg5 caption{
	background-color: #77a31a;
}
.bg6 caption{
	background-color: #579e34;
}
/*
	订舱按钮
*/
.dcbtn {
	width: 43px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	color: white !important;
	display: block;
	float: left;
}
.bg1 .dcbtn{
	background-image: url(.././images/button1.png);
	background-repeat: no-repeat;
}
.bg2 .dcbtn{
	background-image: url(.././images/button2.png);
	background-repeat: no-repeat;
}
.bg3 .dcbtn{
	background-image: url(.././images/button3.png);
	background-repeat: no-repeat;
}
.bg4 .dcbtn{
	background-image: url(.././images/button4.png);
	background-repeat: no-repeat;
}
.bg5 .dcbtn{
	background-image: url(.././images/button5.png);
	background-repeat: no-repeat;
}
.bg6 .dcbtn{
	background-image: url(.././images/button6.png);
	background-repeat: no-repeat;
}
.tables table th {
	text-align: center;
	font-weight: normal;
	height: 50px;
}
.tables table tr {
	height: 30px;
}
.tables table th p {
	margin: 0px;
}
.tables table tr input{
	max-width: 100px;
	text-align: center;
	color: #666;
	border: none;
	background-color: transparent;
}


/*
	船期表-老师
*/
.add-btn, .del-btn {
	width: 20px;
	height: 15px;
	float: left;
	text-decoration: none;

}

.table-cell-temp {
	display: none;
}
.sel_cqb {
	margin: auto;
}







































1